<p>view-cart works!</p>
<table class = "table">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartItems let i = index">
            <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.count}}</td>
          <td>{{item.count * item.rate}}</td>
          <td><input type="checkbox" (change)="calculateTotal()" [(ngModel)]="item.selected"></td>
        </tr>
      </tbody>
      Total:{{total}}
</table>
<button (click)="selectedItem()" >selected Item</button>













