<!-- 
<div class="container">
    <div class="card">
        <form >
<h2>Login</h2><br>
            <div class="">
              <label for="username">Username</label>&nbsp;&nbsp;
              <input type="text" id="username" [(ngModel)]="username" name="username" required>
            </div>
            <div>
              <label for="password">Password</label>&nbsp;&nbsp;
              <input type="password" id="password" [(ngModel)]="password" name="password" required>
            </div>
            <button type="submit" (click)="login()">Login</button>
          </form>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                     <h1>Login</h1>
                </div><br>
                <form class="f1">
                    <div class="form-group">
                      <label>UserName</label><br>
              <input type="text" id="username" [(ngModel)]="username" name="username" required>
                    </div><br>
                    <div class="form-group">
                      <label>Password</label><br>
                      <input type="password" id="password" [(ngModel)]="password" name="password" required>
                    </div><br>
                    <button type="submit" (click)="login()">Login</button>
                  </form>
            </div>
        </div>
    </div>
  </div>







